.headerFormat {
    background-color: #e6e1e1;
    color: black;
    display: flex;
    flex-direction: row;
    top: 0;
    padding: 0px 50px;
    gap: 40px;
    position: fixed;
    justify-content: flex-start;
    margin:0px auto ;
    width: 100%;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    align-self: center;
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 400px;
}

.navLinks li {
    border-right: 1px solid white;
    padding: 10px;
}

.navLinks li:last-of-type {
    border-right: none;
}

#accountButton {
    align-self: center;
    margin-left: 10px;
    background-color: #f92d44;
}

.navMobile {
    color: black;
    display: flex;
    flex-direction: column;
    
}

.mobileMenuButton {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    margin: 20px;
    justify-content: space-between;
    position: relative;

}

.line {
    width: 100%;
    color: #000;
    height: 3px;
}