.auditionPost {
    justify-self: center;
    width: 50%;
    color: #c0e0de;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-wrap:wrap;
    margin: 10px;
    padding: 10px 0px;
    gap: 10px;
    justify-content: center;
    height: min-content;
    line-height: 50%;;
    background-color: #035e7c;
    animation: fadeIn 0.3s ease-in-out;
}

#ensemble {
    font-style: italic;
}
#webLink {
    background: url("https://us.images.westend61.de/0000933291j/french-horn-players-in-orchestra-CUF01345.jpg"), rgba(0,0,0,0.7);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    color: white;
    height: 200px;
    width:75%;
    font-size: 1.5rem;
}

#webLink:hover {
    animation: linkColorChange 0.3s ease-in-out forwards;
}

#position, #ensemble, #location {
    line-height: 0.2rem;
}

#editButton {
    width: 48%;
}

#editButton:hover {
    animation: scaleUp 1s ease-in-out forwards;
}

#editButton:not(:hover) {
    animation: scaleDown 1s ease-in-out ;
}


#deleteButton{
    background-color: #bb0218;
    align-self: center;
    width: 48%;
}

#deleteButton:hover {
    animation: scaleUp 1s ease-in-out forwards;
}

#deleteButton:not(:hover) {
    animation: scaleDown 1s ease-in-out;
}


@media screen and (max-width: 830px) {
   #webLink, #audDate, #deadline {
    font-size: 0.9rem;
    line-height: 1rem;
   }

   #position, #ensemble {
    line-height: 1.2rem;
    font-size: 1.2rem;
   }

}

@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes scaleUp {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

@keyframes scaleDown {
    from {transform: scale(1.2);}
    to {transform: scale(1);}
}

@keyframes linkColorChange {
    from {
        color: white;
    }
    to {
        color: yellow;
        border: 1px solid white;
    }
}