form {
  text-align: center;
  margin: 150px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: min-content;
  width: 100%;
}

ul {
    list-style-type: none;
}