/* h1 {
    text-align: center;
} */

.heroSection {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px;
    background: url("https://images.unsplash.com/photo-1613142659418-718b2ae6940d?q=80&w=3005&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), rgba(0,0,0, 0.6);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #fff;
}

.heroSection h1, .heroSection p {
    animation: fadeIn 1s ease-in-out;

}

@media screen and (max-width: 1000px) {
    .heroSection {
        padding: 100px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

